<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.debatev8">

  <uses-permission android:name="android.permission.INTERNET" />

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="Debate"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <meta-data android:name="com.google.android.gms.games.APP_ID"
        android:value="@string/app_id" />
    <meta-data android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version"/>

    <activity android:name=".login">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity android:name=".google_signin" />

    <activity android:name=".choice_home" />
    <activity android:name=".match_finding" android:noHistory="true" />
    <activity android:name=".topic_vote" android:noHistory="true"/>
    <activity android:name=".a1_lead_debate" />
    <activity android:name=".a1_topicheaderpreview_debate" />
    <activity android:name=".a1_responsepreview_debate" />
    <activity android:name=".b1_topicheaderpreview_debate" />
    <activity android:name=".b1_close_debate" />
    <activity android:name=".b2_lead_debate" />
    <activity android:name=".b2_topicheaderpreview_debate" />
    <activity android:name=".b2_responsepreview_debate" />
    <activity android:name=".a2_close_debate" />
    <activity android:name=".a3_lead_debate" />
    <activity android:name=".a3_waitinglastresp_debate" />
    <activity android:name=".a3_responsepreview_debate" />
    <activity android:name=".b3_close_debate" />
    <activity android:name=".repeat_return_debate" />

    <activity android:name=".searching_completed_matches"/>
    <activity android:name=".c1_rate_judge" />
    <activity android:name=".c2_rate_judge" />
    <activity android:name=".c3_rate_judge" />
    <activity android:name=".return_repeat_judge" />

    <activity android:name=".choice_leaderboards" />
    <activity android:name=".debate_leaderboards" />
    <activity android:name=".judge_leaderboards" />
  </application>

</manifest>