<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.game.thedebateapp">

  <uses-permission android:name="android.permission.INTERNET" />

  <application

      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="The Debate App"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <meta-data android:name="com.google.android.gms.games.APP_ID"
        android:value="@string/app_id" />
    <meta-data android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version"/>

    <activity android:name="com.game.thedebateapp.login" android:noHistory="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity android:name="com.game.thedebateapp.google_signin" android:noHistory="true" />
    <activity android:name="com.game.thedebateapp.register" android:noHistory="true" />

    <activity android:name="com.game.thedebateapp.choice_home" android:noHistory="true"/>
    <activity android:name="com.game.thedebateapp.match_finding" android:noHistory="true" />
    <activity android:name="com.game.thedebateapp.topic_vote" android:noHistory="true"/>
    <activity android:name="com.game.thedebateapp.a1_lead_debate" android:noHistory="true" />
    <activity android:name="com.game.thedebateapp.a1_topicheaderpreview_debate" android:noHistory="true" />
    <activity android:name="com.game.thedebateapp.a1_responsepreview_debate" android:noHistory="true" />
    <activity android:name="com.game.thedebateapp.b1_topicheaderpreview_debate" android:noHistory="true" />
    <activity android:name="com.game.thedebateapp.b1_close_debate" android:noHistory="true" />
    <activity android:name="com.game.thedebateapp.b2_lead_debate" android:noHistory="true" />
    <activity android:name="com.game.thedebateapp.b2_topicheaderpreview_debate" android:noHistory="true" />
    <activity android:name="com.game.thedebateapp.b2_responsepreview_debate" android:noHistory="true" />
    <activity android:name="com.game.thedebateapp.a2_close_debate" android:noHistory="true" />
    <activity android:name="com.game.thedebateapp.a3_lead_debate" android:noHistory="true" />
    <activity android:name="com.game.thedebateapp.a3_waitinglastresp_debate" android:noHistory="true" />
    <activity android:name="com.game.thedebateapp.a3_responsepreview_debate" android:noHistory="true" />
    <activity android:name="com.game.thedebateapp.b3_close_debate" android:noHistory="true" />
    <activity android:name="com.game.thedebateapp.repeat_return_debate" android:noHistory="true"/>

    <activity android:name="com.game.thedebateapp.searching_completed_matches" android:noHistory="true"/>
    <activity android:name="com.game.thedebateapp.c1_rate_judge" android:noHistory="true" />
    <activity android:name="com.game.thedebateapp.c2_rate_judge" android:noHistory="true" />
    <activity android:name="com.game.thedebateapp.c3_rate_judge" android:noHistory="true" />
    <activity android:name="com.game.thedebateapp.return_repeat_judge" android:noHistory="true" />

    <activity android:name="com.game.thedebateapp.choice_leaderboards" android:noHistory="true" />
    <activity android:name="com.game.thedebateapp.debate_leaderboards" android:noHistory="true" />

  </application>

</manifest>